.section--about {
  background-color: var(--background-color-about);
  color: var(--color-text-white);
}

.section__description--about {
  margin-bottom: 50px;
}

.section__title--about {
  letter-spacing: 4px;
}

.card--about {
  flex-wrap: wrap;
  margin-bottom: 37px;
}

.card__item--about {
  display: flex;
  width: 48%;
  margin-bottom: 123px;
}

.card__item--about:nth-last-child(-n+2) {
  margin-bottom: 0;
}

.card__description--about {
  font-size: 21px;
  font-style: italic;
  color: #ffffff;
  margin-top: 0;
  
}

.card__description__wrapper {
  margin-left: 30px;
}

.card__title--about {
  text-align: left;
  color: #ffffff;
  margin: 0;
}

.card__image--about {
  max-width: 96px;
  min-height: 96px;
  border-radius: 96px;
}

.card__web-list__item__icon {
  font-size: 32px;
}

.card__sub-title--about {
  color: #ffdd99;
  font-size: 18px;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .card--about {
    justify-content: center;
    margin-bottom: 37px;
  }

  .card__item--about {
    width: 70%;
    margin-bottom: 40px;
  }

  .card__item--about:nth-last-child(n+2) {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 640px) {
  .section__title--about {
    width: 80%;
    margin: 0 auto;
  }

  .card__item--about {
    display: block;
    text-align: center;
    width: 80%;
    margin-bottom: 30px;
  }
  .card__description__wrapper {
    margin-left: 0;
  }
  .card__title--about {
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .card--about {
    margin-bottom: 0;
  }

  .card__item--about {
    width: 100%;
    margin-bottom: 20px;
    padding: 0 15px;
  }
}