#menu__toggle {
  opacity: 0;
  display: none;
}

.burger-menu {
  display: flex;
  align-items: center;
}
/* стилизуем кнопку */
.burger-menu__btn {
  position: absolute;
  display: none; 
  align-items: center;  
  top: 77px;
  right: 30px;
  width: 35px;
  height: 26px;
  cursor: pointer;
  z-index: 10;
}
/* добавляем "гамбургер" */
.burger-menu__btn > span,
.burger-menu__btn > span::before,
.burger-menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #643a79;
}
.burger-menu__btn > span::before {
  content: '';
  top: -9px;
}
.burger-menu__btn > span::after {
  content: '';
  top: 9px;
}

#menu__toggle:checked ~ .burger-menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .burger-menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .burger-menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .nav__header {
  visibility: visible;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 5;
  padding-top: 110px;
}


.burger-menu__btn > span,
.burger-menu__btn > span::before,
.burger-menu__btn > span::after {
  transition-duration: .25s;
}
