.section--feedback {
  background-color: var(--background-color-feedback);
}

.section__description--feedback {
  margin-bottom: 70px;
}

.section__description__content--feedbackt {
  margin: 0%;
}

.section__button--feedback {
  background-color: #30bae7;
}

.section__button--feedback:hover {
  background-color:  #344b8e;
}

.section__button--feedback:hover .section__button__link {
  color: #30bae7;
}


.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 120px;
}

.form__input__item {
  width: 100%;
  height: 56px;
  padding: 20px;
  border-radius: 5px;
  border: none;
  background-color: var(--background-color-form);
  color: var(--color-text-white);
}

.form__textarea__item {
  width: 100%;
  border-radius: 5px;
  padding: 20px;
  border: none;
  background-color: var(--background-color-form);
  color: var(--color-text-white);
}

.star-red {
   color: #e00c0c;
}

input:valid + .name {
   display: none;
}

input:valid + .email {
  display: none;
}

input:focus + .name {
   display: none;
}

input:focus + .email {
  display: none;
}

textarea:focus + .message {
  display: none;
}

.name, .email, .message  {
  position: absolute;
  top: 12px;
  left: 20px;
  font-size: 18px;
}

.form__input--name {
  width: 48%;
  position: relative;
  height: 56px;
  margin-bottom: 25px;
}

.form__input--email {
  width: 48%;
  position: relative;
  height: 56px;
  margin-bottom: 25px;
}

.form__textarea--message {
  width: 100%;
  position: relative;
  margin-bottom: 60px;
}

@media screen and (max-width: 1024px) {
  .form {
    margin: 0 100px;
  }
}

@media screen and (max-width: 768px) {
  .form__input--name, .form__input--email {
    width: 100%;
    margin-bottom: 25px;
  }

  .form__input {
    width: 100%;
  }

  .form {
    margin: 0 80px;
  }

  .name, .email, .message  {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {

  .form {
    margin: 0 40px;
  }
}

@media screen and (max-width: 320px) {
  .form {
    margin: 0 20px;
  }
}
