.section--portfolio {
  background-color: var(--background-color-portfolio);
  color: #393939;
}

.nav--portfolio {
  margin-bottom: 65px;
}

.nav__list--potfolio {
  display: flex;
  justify-content: center;
}

.nav__item--portfolio {
  border-radius: 4px;
  margin-right: 10px;
  background-color: #ebcb8d;
}

.nav__item--portfolio-is-active {
  background-color: #ffffff;
}

.nav__item--portfolio:hover:not(:first-child) {
  background-color: #ecb23d;
}

.nav__link--portfolio {
  display: inline-block;
  padding: 8px 27px;
  color: #393939;
  font-size: 18px;
}

.card--portfolio {
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 35px;
}

.card__title--portfolio {
  font-size: 18px;
  font-weight: normal;
}

.card__item--portfolio {
  flex-direction: column;
  text-align: center;
  margin-bottom: 47px;
  max-width: 48%;
}

.card__item--portfolio:nth-child(2n-1) {
  margin-right: 20px;
}

.card__image-wrap {
  position: relative;
}

.card__image--background {
  width: 100%;
}

.card__image__content-wrap {
  position: absolute;
  top: 5%;
  left: 12%;
  right: 12%;
  bottom: 12%;
}

.card__image__content--portfolio {
  width: 100%;
  height: 100%;
}

.section__button--portfolio {
  background-color: #17c2a4;
}

.section__button--portfolio:hover {
  background-color:  #e5c689
}

.section__button--portfolio:hover .section__button__link {
  color: #17c2a4;
}


@media screen and (max-width: 1024px) {
  .card__item--portfolio {
    max-width: 100%;
    justify-content: center;
  }

  .card__item--portfolio:nth-child(2n-1) {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .card--portfolio {
    margin: 0 15px;
  }

  .card__title.card__title--portfolio {
    font-size: 16px;
    font-weight: normal;
  }
}



@media screen and (max-width: 480px) {
  .nav--portfolio {
    margin-bottom: 40px;
  }

  .nav__link--portfolio {
    padding: 5px 18px;
    font-size: 12px;
  }
  
  .nav__item--portfolio {
    margin-right: 5px;
  }

  .card__item--portfolio {
    margin-bottom: 30px;
  }
}
