.circle-wrap {
  width: 155px;
  height: 155px;
  background: #e6e2e7;
  border-radius: 50%;
}

.circle-wrap .circle-blue .mask,
.circle-wrap .circle-blue .fill,
.circle-wrap .circle-red .mask,
.circle-wrap .circle-red .fill,
.circle-wrap .circle-green .mask,
.circle-wrap .circle-green .fill,
.circle-wrap .circle-orange .mask,
.circle-wrap .circle-orange .fill {
  width: 155px;
  height: 155px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle-blue .mask,
.circle-wrap .circle-red .mask,
.circle-wrap .circle-green .mask,
.circle-wrap .circle-orange .mask {
  clip: rect(0px, 160px, 160px, 80px);
}

.circle-wrap .circle-blue .mask .fill {
  clip: rect(0px, 80px, 160px, 0px);
  background-color: #30bae7;
}

.circle-wrap .circle-red .mask .fill {
  clip: rect(0px, 80px, 160px, 0px);
  background-color: #d74680;
}

.circle-wrap .circle-green .mask .fill {
  clip: rect(0px, 80px, 160px, 0px);
  background-color: #15c7a8;
}

.circle-wrap .circle-orange .mask .fill {
  clip: rect(0px, 80px, 160px, 0px);
  background-color: #eb7d4b;
}

.circle-wrap .circle-blue .mask.full,
.circle-wrap .circle-blue .fill {
  animation: web ease-in-out 3s;
  transform: rotate(162deg);
}

@keyframes web {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(162deg);
  }
}

.circle-wrap .circle-red .mask.full,
.circle-wrap .circle-red .fill {
  animation: html ease-in-out 3s;
  transform: rotate(135deg);
}

@keyframes html {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(135deg);
  }
}

.circle-wrap .circle-green .mask.full,
.circle-wrap .circle-green .fill {
  animation: design ease-in-out 3s;
  transform: rotate(126deg);
}

@keyframes design {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(126deg);
  }
}

.circle-wrap .circle-orange .mask.full,
.circle-wrap .circle-orange .fill {
  animation: ui ease-in-out 3s;
  transform: rotate(153deg);
}

@keyframes ui {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(153deg);
  }
}

.circle-wrap .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #fff;
  line-height: 130px;
  text-align: center;
  margin-top: 12px;
  margin-left: 12px;
  position: absolute;
  z-index: 100;
  font-size: 50px;
  font-weight: 300;
}

.inside-circle .percent {
  font-size: 32px;
}