.section__content {
  padding-top: 85px;
  padding-bottom: 120px;
}

.section__title, .section__description {
  text-align: center;
}

.section__title {
  font-size: var(--font-size-title);
  position: relative;
}

.section__title::after {
  content: '';
  width: 87px;
  height: 4px;
  background-color: #000000;
  opacity: 0.15;
  position: absolute;
  bottom: -10px;
  left: calc(50% - 43px);
}

.section__description {
  font-size: var(--font-size-description);
  width: 70%;
  margin: 0 auto;
}

.section__button {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 293px;
  height: 70px;
  position: relative;
  cursor: pointer;
}

.section__button::after {
  content: '';
  background-color: #000000;
  opacity: 0.15;
  position: absolute;
  z-index: 2;
  min-width: -webkit-fill-available;
  height: 4px;
  bottom: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.section__button__link {
  color: var(--color-link);
  font-size: var(--font-size-button-link);
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  .section__button {
    width: 250px;
    height: 65px;
  }
}

@media screen and (max-width: 768px) {
  .section__button {
    width: 230px;
    height: 60px;
  }
}

@media screen and (max-width: 480px) {
  .section__button {
    width: 200px;
    height: 55px;
  }
}

@media screen and (max-width: 320px) {
  .section__button {
    width: 180px;
    height: 50px;
  }
}