.section--service {
  background-color: var(--background-color-service);
  color: var(--color-text-white);
}

.section__title--service {
  position: relative;
}

.section__description__wrap--service {
  margin-bottom: 73px;
}

.card__item--service {
  flex-direction: column;
  align-items: center;
  width: 25%;
  text-align: center;
}

.card__item--service:not(:last-child) {
  margin-right: 35px;
}

.card__title-service {
  margin-top: 0;
  margin-bottom: 15px;
}

.card__description--service {
  margin-top: 0;
}

.card__image__wrapper--service {
  margin-bottom: 45px;
}

.card__image--service {
  max-width: 159px;
  min-height: 134px;
  max-height: 134px;
}

@media screen and (max-width: 1024px) {
  .card--service {
    flex-wrap: wrap;
    width: 75%;
    margin: 0 auto;
  }

  .card__item--service {
    width: 45%;
  }

  .card__item--service:nth-child(-n+2) {
    margin-bottom: 30px;
  }

  .card__item--service:not(:last-child) {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .card--service {
    flex-wrap: wrap;
    width: 75%;
    margin: 0 auto;
  }

  .card__item--service {
    width: 45%;
  }
}

@media screen and (max-width: 640px) {
  .card--service {
    display: block;
    margin: 0 auto;
    width: 50%;
  }

  .card__item--service {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .card--service {
    width: 50%;
  }

  .card__item--service {
    width: 100%;
  }

  .card__image__wrapper--service {
    margin-bottom: 25px;
  }
}


@media screen and (max-width: 320px) {
  .card__item--service:not(:last-child) {
    margin-bottom: 30px;
  }
}