.section--skills {
  background-color: var(--background-color-skills);
  color: var(--color-text-dark);
}

.section__description__wrap--skills {
  margin-bottom: 70px;
}

.card__item--skills {
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.card--skills {
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
}

.card__title--skills {
  font-size: 24px;
  font-weight: 700;
}

@media screen and (max-width: 1200px) {
  .card--skills {
    width: 85%;
  }
}

@media screen and (max-width: 798px) {
  .card--skills {
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
  }

  .card__item--skills {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .card--skills {
    display: block;
    width: 80%;
    margin: 0 auto;
  }

  .card__item--skills {
    width: 100%;
  }
}
