.section--team {
  background-color: var(--background-color-team);
  color: var(--color-text-dark);
}

.section__description__content--team {
  margin-bottom: 56px;
}

.card__item--team {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 25%;
  text-align: center;
  padding: 10px 30px;
}

.card__title--team {
  margin: 0;
  font-weight: 700;
}

.card__sub-title--team {
  margin: 0;
  font-weight: normal;
}

.card__description--team {
  margin-bottom: 20px;
}

.card__image__item--team {
  max-width: 200px;
  min-height: 200px;
  max-height: 200px;
  border-radius: 200px;
  margin-bottom: 25px;
}

.card__web-list {
  display: flex;
}

.card__web-list__item__link {
  display: inline-block;
  opacity: 0.6;
  color: #ffffff;
}

.card__web-list__item__link:hover {
  opacity: 1;
}

.card__web-list__item:not(:last-child) {
  margin-right: 12px;
}

@media screen and (max-width: 1024px) {
  .card--team {
    flex-wrap: wrap;
  }

  .card__item--team {
    width: 50%;
    padding: 20px;
  }
}

@media screen and (max-width: 768px) {
  .card--team {
    width: 75%;
    margin: 0 auto;
    padding: 15px;
  }

  .card__item--team {
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
  }

  .card__image__item--team {
    max-width: 180px;
    min-height: 180px;
  }
}

@media screen and (max-width: 480px) {
  .card__image__item--team {
    max-width: 150px;
    min-height: 150px;
  }
}

@media screen and (max-width: 320px) {
  .card__image__item--team {
    max-width: 120px;
    min-height: 120px;
  }
  
  .card--team {
    padding: 0;
  }

  .card__item--team {
    margin-bottom: 0;
  }

  .card__item--team:not(:last-child) {
    margin-bottom: 30px;
  }

}