.container--welcome {
  padding: 0;
}

.section--welcome {
  background-color: var(--background-color-main-page);
  height: calc(100vh - 95px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__welcome--wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section__welcome__title {
  font-size: 42px;
  font-weight: 700;
  color: #f7f3ea;
  width: 75%;
  line-height: 48.82px;
  margin-top: 0;
  margin-bottom: 54px;
}

.section__button--welcome {
  background-color: #eb7d4b;
}

.section__button--welcome:hover {
  background-color: #ffffff;
}

.section__button--welcome:hover .section__button__link {
  color: #eb7d4b;
}

@media screen and (max-width: 1024px) {
  .section__welcome--wrap {
    padding: 20px;
  }

  .section__welcome__title {
    font-size: 36px;
  }
}

@media screen and (max-width: 768px) {
  .section__welcome__title {
    font-size: 32px;
  }
}

@media screen and (max-width: 480px) {
  .section__welcome__title {
    font-size: 28px;
  }
}

@media screen and (max-width: 320px) {
  .section__welcome__title {
    font-size: 24px;
    margin-bottom: 40px;
  }

  .section__welcome--wrap {
    padding: 0 15px;
    margin-bottom: 45px;
  }
}