.card {
  display: flex;
  justify-content: space-between;
}

.card__item {
  display: flex;
}

.card__title {
  text-transform: uppercase;
  text-align: center;
  font-size: var(--font-size-card-title);
  font-weight: normal;
}

.card__sub-title {
  color: #30bae7;
  font-size: 16px;
}

.card__description {
  font-size: var(--font-size-card-description);
}

.card__web-item {
  filter: grayscale(1);
}

.card__web-item:hover {
  filter: grayscale(0);
}