*, *::after, *::before {
	box-sizing: border-box;
}

body {
  font-family: 'Titillium Web', sans-serif;
  color: #ffffff;
  margin: 0;
  position: relative;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 100px;
}

img {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

