.footer {
  background-color: var(--background-color-footer);
}

.container--footer {
  padding: 0;
}

.nav__social {
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
}

.nav__social__item__link {
  font-size: 24px;
}

.nav__social__item__link:hover {
  color: #30bae7;
}

.nav__icons__item__link {
  filter: grayscale(1);
}

.nav__icons__item__link:hover {
  filter: grayscale(0);
}

.nav__icons__item__link__img {
  width: 32px;
  height: 32px;
}

.nav__icons {
  display: none
}

@media screen and (max-width: 768px) {
  .nav__social__item__link {
    font-size: 20px;
  }
}

@media screen and (max-width: 640px) {
  .nav__social__item__link {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .nav__social {
    display: none;
  }

  .nav__icons {
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
  }
}