.header {
  background-color: var(--background-color-main-page);
  margin-bottom: -2px;
}

.container--header {
  padding: 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 54px 10px 0px 35px;
}

.nav__header {
  display: flex;
  visibility: visible;
  top: 0;
  right: 0;
  width: 100%;
  margin: 0;
  text-align: left;
}

.nav__link {
  display: inline-block;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.nav__item--header:not(:first-child) {
  margin-left: 5px;
}

.nav__item--header:hover {
  background-color: #643a79;
  border-radius: 4px;
}

.nav__item--header-is-active {
  background-color: #643a79;
  border-radius: 4px;
}

.nav__link--header {
  display: inline-block;
  padding: 5px 20px;
}

@media screen and (max-width: 768px) {
  .nav__header {
    display: block;
    position: absolute;
    visibility: hidden;
    padding: 35px 10px 10px 10px;
    background: linear-gradient(to right, #e74e07, #eb7d4b);
    border-radius: 5px;
    top: 0;
  }

  .nav__link--header {
    font-size: 24px;
  }

  .nav__link--header:hover {
    background-color: #643a79;
    border-radius: 4px;
  }

  .nav__item--header-is-active .nav__link {
    background-color: #643a79;
    border-radius: 4px;
  }
 
  .burger-menu__btn {
    display: block;
  }

  .nav__item.nav__item--header {
    margin-left: 0;
    margin-bottom: 20px;
    background-color: initial;
  } 
}

@media screen and (max-width: 320px) {
  .burger-menu__btn {
    display: block;
  }
}