@font-face {
  font-family: 'cuda';
  src:  url('./fonts/icons/cuda.eot?99p0im');
  src:  url('./fonts/icons/cuda.eot?99p0im#iefix') format('embedded-opentype'),
    url('./fonts/icons/cuda.ttf?99p0im') format('truetype'),
    url('./fonts/icons/cuda.woff?99p0im') format('woff'),
    url('./fonts/icons/cuda.svg?99p0im#cuda') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cuda' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
  content: "\e902";
}
.icon-twitter:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e900";
}
.icon-linkedin:before {
  content: "\e907";
}


.icon {
  font-size: 32px;
  color: #bdd1df;
}