

@media screen and (max-width: 1024px) {
  .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .container--header {
    padding: 0;
  }

  .container--footer {
    padding: 0;
  }

  .section__title {
    font-size: 32px;
  }
}

@media screen and (max-width: 768px) {
  .section__title {
    font-size: 24px;
  }

  .card__title {
    font-size: 20px;
  }
}



@media screen and (max-width: 480px) {
  .section__title {
    font-size: 20px;
  }

  .card__title {
    font-size: 18px;
  }

  .section__description {
    font-size: 16px;
    width: 90%;
  }

  .card__description {
    font-size: 16px;
  }
}
