:root {
  --background-color-main-page: #87509c;
  --background-color-service: #17c2a4;
  --background-color-team: #e7f1f8;
  --background-color-skills: #ffffff;
  --background-color-portfolio: #ffdd99;
  --background-color-about: #d74680;
  --background-color-feedback: #3c5499;
  --background-color-footer: #344b8e;
  --background-color-form: #273a71;

  --color-link: #ffffff;
  --color-text-dark: #3c4761;
  --color-text-white: #ffffff;

  --font-size-title: 40px;
  --font-size-description: 18px;
  --font-size-card-title: 24px;
  --font-size-card-description: 16px;
  --font-size-button-link: 18px
}